html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#tester-wrapper {
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

#fireprobe {
    width: 100%;
    /*height: 97.685185185185185%;*/
    position: relative;
    margin-top: 1.1574074074074075%;
    font: 1vw 'Exo 2', sans-serif;
    color: #000000;
}

#fireprobe .results-wrapper a {
    text-decoration: none;
}

#fireprobe .powered a {
    color: #000000;
}

#fireprobe.stage2,
#fireprobe.stage3 {
    /*height: 100%;*/
    top: 0;
    margin-top: 0;
}

#fireprobe #tester {
    width: 100%;
    /*height: 56.545416595510524%;*/
    position: absolute;
    /*top: 11.38498320714977%;*/
    margin-top: 8%;
}

#fireprobe #tester.stage2,
#fireprobe #tester.stage3 {
    /*height: 100%;*/
    top: 0;
    margin-top: 0;
}

#fireprobe .name {
    display: block;
    position: absolute;
    margin: 2% auto 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 14000;
}

#fireprobe .name img {
    width: 15%;
}

#fireprobe .name.stage2,
#fireprobe .name.stage3 {
    margin: 0;
    left: 54.020833333333336%;
    margin-top: 4%;
}

#fireprobe .name.stage2 img,
#fireprobe .name.stage3 img {
    width: 35%;
}

#fireprobe .start {
    width: 26.041666666666668%;
    height: 0;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 2000;
    display: none;
    padding-top: 26.041666666666668%;
}

#fireprobe .start .text {
    width: 100%;
    position: absolute;
    padding-top: 38%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    font-size: 5vw;
    color: #3490DC;
}

#fireprobe #start-canvas {
    width: 26.041666666666668%;
    position: relative;
    vertical-align: middle;
}

#fireprobe #server {
    position: relative;
    margin-top: 0.5%;
    cursor: pointer;
    z-index: 9000;
}

#fireprobe #server.stage2,
#fireprobe #server.stage3 {
    width: 31.25%;
    position: absolute;
    left: 11.539583%;
    margin-top: 41.666666666666664%;
}

#fireprobe #server.stage2 {
    cursor: auto;
}

#fireprobe #server #server-canvas {
    width: 1.875%;
    /*height: 3.3333333333333335%;*/
    position: relative;
    vertical-align: middle;
}

#fireprobe #server.stage2 #server-canvas,
#fireprobe #server.stage3 #server-canvas {
	width: 5%;
}

#fireprobe .server {
    display: inline;
    position: relative;
    margin-bottom: 20px;
    vertical-align: middle;
}

#fireprobe .date {
    display: none;
}

#fireprobe .date .title {
    font-weight: 300;
}

#fireprobe .date .value {
}

#fireprobe .powered a {
    text-decoration: underline;
}

@media (orientation: portrait) {
    #fireprobe:not(.stage2):not(.stage3) .powered {
        margin-top: 5%;
    }
}

@media (orientation: landscape) {
    #fireprobe:not(.stage2):not(.stage3) .powered {
        margin-top: 1%;
    }
}

#fireprobe .date.stage2,
#fireprobe .date.stage3 {
    display: block;
    position: absolute;
    width: 26.041666666666668%;
    left: 63.541666666666664%;
    margin-top: 37.314814814814813%;
    text-align: center;
}

#fireprobe .powered.stage2,
#fireprobe .powered.stage3 {
    display: block;
    position: absolute;
    width: 26.041666666666668%;
    left: 63.541666666666664%;
    margin-top: 41.092593%;
    text-align: center;
}

#fireprobe .ip {
    margin-top: 0.6%;
    z-index: 9000;
}

#fireprobe .ip .title {
    font-weight: 300;
}

#fireprobe .ip .value {
}

#fireprobe .ip.stage2 {
    display: none;
}

#fireprobe .isp {
    z-index: 9000;
}

#fireprobe .isp .title {
    font-weight: 300;
}

#fireprobe .isp .value {
}

#fireprobe .isp.stage2,
#fireprobe .isp.stage3 {
    display: block;
    position: absolute;
    width: 36.041667%;
    left: 58.541667%;
    margin-top: 37.925926%;
    text-align: center;
	font-size: 1.5vw;
}

#fireprobe .testing-mode {
    display: none;
    position: absolute;
    top: 0;
    left: 14.0625%;
    text-align: center;
}

#fireprobe .testing-mode.stage2 {
    display: block;
    position: absolute;
    left: 25.90625%;
    margin-top: 16.046296%;
    text-align: left;
}

#fireprobe .testing-mode .title {
    font-size: 1.4vw;
}

#fireprobe .testing-mode .value {
    font-size: 1.75vw;
}

#fireprobe #testing-mode-canvas {
    display: none;
}

#fireprobe #testing-mode-canvas.stage2 {
    display: block;
    width: 5.208333333333333%;
    position: absolute;
    left: 19.958333%;
    margin-top: 13.981481481481481%;
}

#fireprobe #testing-mode-canvas.latency-mode {
    margin-top: 15.40963%;
}

#fireprobe #testing-mode-canvas.download-mode {
    margin-top: 16.00963%;
}

#fireprobe #testing-mode-canvas.upload-mode {
    margin-top: 16.00963%;
}

#fireprobe #gauge-canvas {
    display: none;
}

#fireprobe #gauge-canvas.stage2 {
    display: block;
    width: 54.291667%;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 1.5%;
}

#fireprobe #gauge-canvas-2 {
    display: none;
}

#fireprobe #gauge-canvas-2.stage2 {
    display: block;
    width: 54.291667%;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 1.5%;
}

#fireprobe .progress {
    display: none;
    width: 20.104166666666668%;
    height: 4px;
    position: absolute;
    background-color: #A0CDFF;
    border-radius: 5px;
    border: 1px #A0CDFF;
}

#fireprobe .progress.stage2 {
    display: block;
    left: 16.95%;
    margin-top: 38.541666666666664%;
}

#fireprobe .progress-bar {
    width: 0px;
    height: 4px;
    background-color: #3490DC;
    border-radius: 5px;
    border: 1px #3490DC;
}

#fireprobe .result {
    position: absolute;
    left: 90px;
    text-align: center;
}

#fireprobe .result .label {
    font-size: 1.7vw;
}

#fireprobe .result .value {
}

#fireprobe .result .value .value-1 {
    font-size: 3vw;
}

#fireprobe .result .value .value-2 {
    font-size: 2vw;
}

#fireprobe .result .value-ip {
    height: 35px;
    font-size: 17px;
    line-height: 35px;
    font-weight: bold;
}

#fireprobe .current {
    display: none;
}

#fireprobe .current.stage2 {
    display: block;
    position: absolute;
    width: 26.041666666666668%;
    left: 13.985417%;
    margin-top: 22.802083333333334%;
}

#fireprobe .current .value .value-1 {
    font-size: 7vw;
}

#fireprobe .current .value .value-2 {
    font-size: 2.5vw;
}

#fireprobe .download {
    display: none;
}

#fireprobe .download.stage2,
#fireprobe .download.stage3 {
    display: block;
    position: absolute;
    width: 15.625%;
    left: 59.291667%;
    margin-top: 12.62963%;
}

#fireprobe #download-chart-canvas {
    display: none;
}

#fireprobe #download-chart-canvas.stage2,
#fireprobe #download-chart-canvas.stage3 {
    display: block;
    width: 13.020833333333334% !important;
    height: auto !important;
    position: absolute;
    left: 59.59375%;
    margin-top: 19.953703703703705%;
}

#fireprobe .upload {
    display: none;
}

#fireprobe .upload.stage2,
#fireprobe .upload.stage3 {
    display: block;
    position: absolute;
    width: 15.625%;
    left: 80.72916666666667%;
    margin-top: 12.62963%;
}

#fireprobe #upload-chart-canvas {
    display: none;
}

#fireprobe #upload-chart-canvas.stage2,
#fireprobe #upload-chart-canvas.stage3 {
    display: block;
    width: 13.020833333333334% !important;
    height: auto !important;
    position: absolute;
    left: 80.72916666666667%;
    margin-top: 19.953703703703705%;
}

#fireprobe .ping {
    display: none;
}

#fireprobe .ping.stage2,
#fireprobe .ping.stage3 {
    display: block;
    position: absolute;
    width: 15.625%;
    left: 59.291667%;
    margin-top: 27.518519%;
}

#fireprobe .jitter {
    display: none;
}

#fireprobe .jitter.stage2,
#fireprobe .jitter.stage3 {
    display: block;
    position: absolute;
    width: 15.625%;
    left: 80.72916666666667%;
    margin-top: 27.518519%;
}

#fireprobe #restart {
    display: none;
    position: absolute;
    width: 14.0625%;
    background: #3490DC;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6vw;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
}

#fireprobe #restart.stage3 {
    display: block;
    left: 21%;
    margin-top: 35%;
}

#fireprobe #restart.stage3.serviceMode {
    left: 13%;
}

#fireprobe #share {
    display: none;
    position: absolute;
    width: 14.0625%;
    background: #3490DC;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6vw;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
}

#fireprobe #share.stage3 {
    display: none;
    left: 28.45%;
    margin-top: 35%;
}

#fireprobe #approve {
    display: none;
    position: absolute;
    width: 14.0625%;
    background: #3490DC;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6vw;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
}

#fireprobe #approve.stage3 {
    display: none;
    left: 28.45%;
    margin-top: 35%;
}

#fireprobe #approve.stage3.serviceMode {
    display: block;
}

#fireprobe .error-wrapper {
    display: none;
    width: 31.25%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 13% auto 0% auto;
    border: 2px solid #3490DC;
    border-radius: 10px;
    padding: 2%;
    background: #ffffff;
    z-index: 15000;
    font: 1vw 'Exo 2', sans-serif;
    color: #000000;
}

#fireprobe .error-wrapper .title {
    font-size: 1.8vw;
}

#fireprobe .error-wrapper p {
    text-align: left;
    padding: 1% 1% 1% 1%;
}

#fireprobe .error-wrapper #reload {
    display: block;
    width: 27.0625%;
    background: #3490DC;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6vw;
    padding-top: 1.75%;
    padding-bottom: 1.75%;
    margin: 5% auto 5% auto;
}

#fireprobe .select-server-wrapper-dummy {
    display: none;
    position: relative;
    width: 30%;
    padding-top: 30%;
    opacity: 0;
    z-index: -10000;
}

#fireprobe .select-server-wrapper-dummy.stage3 {
    display: block;
}

#fireprobe .select-server-wrapper {
    display: none;
    width: 31.25%;
    height: 93.95973154362416%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border: 2px solid #3490DC;
    border-radius: 10px;
    padding: 1%;
    background: #ffffff;
    z-index: 15000;
}

#fireprobe .select-server-wrapper.stage2 {
    display: none;
}

#fireprobe .select-server-wrapper.stage3 {
    display: block;
    left: 12%;
    top: 0;
    margin: 0;
    margin-top: 2.5625%;
}

#fireprobe .select-server-wrapper .title {
    font-size: 1.8vw;
}

#fireprobe .select-server-wrapper #server-select-close-canvas {
    display: block;
    width: 6%;
    position: absolute;
    cursor: pointer;
    left: 89.0092879256966%;
    top: 0;
    padding-top: 6%;
}

#fireprobe .select-server {
    width: 100%;
    height: 90%;
}

#fireprobe .select-server .server-empty {
    display: none;
}

#fireprobe .select-server .s-server {
    width: 85.83333333333333%;
    /*height: 17.85770976856408%;*/
    background: #f5f5f5;
    cursor: pointer;
    padding: 0.5% 2% 2% 1%;
    margin: 2% 0;
}

#fireprobe .select-server .s-server:hover {
    border: 2px solid #3490DC;
}

#fireprobe .select-server .s-server .server-canvas {
    float: left;
    width: 6.990291262135922%;
    padding: 4% 0 0 2%;
}

#fireprobe .select-server .s-server .server-info {
    float: left;
    padding: 2% 0 0 3%;
}

#fireprobe .select-server .s-server .server-info .server-name {
    font-size: 1.2vw;
    text-align: left;
}

#fireprobe .select-server .s-server .server-info .server-loc {
    font-size: 1.0vw;
    text-align: left;
}

#fireprobe .select-server .s-server .server-latency {
    float: right;
    padding-top: 5%;
    font-size: 1.0vw;
}

#fireprobe .select-server .s-server .server-latency .value-1 {

}

#fireprobe .select-server .s-server .server-latency .value-2 {

}

#fireprobe .mad {
    display: none;
    position: absolute;
    left: 32.8125%;
    top: 0;
    z-index: 2000;
}

#fireprobe .mad img{
    width: 80%;
}

#fireprobe .mad.stage2 {
    display: none;
}

#fireprobe .mad.stage3 {
    display: block;
    width: 45.041667%;
    left: 5.666667%;
    top: 0;
    margin-top: 5.5%;
}

#fireprobe .results-wrapper {
    display: none;
    position: absolute;
    left: 32.8125%;
    top: 0;
    z-index: 2000;
}

#fireprobe .results-wrapper.stage2 {
    display: none;
}

#fireprobe .results-wrapper.stage3 {
    display: block;
    width: 30.041667%;
    left: 13.666667%;
    top: 0;
    margin-top: 2.5%;
}

#fireprobe .results-wrapper .icon {
    padding: 2.6005683108615334% 0;
}

#fireprobe .results-wrapper .icon .wrapper {
    float: left;
    width: 80.95896823319123%;
    margin-left: 3.4674244144820445%;
    margin-top: 0.8668561036205111%;
}

#fireprobe .results-wrapper .icon .image {
    width: 15.57363194189896%;
    float: left;
    background: no-repeat center center;
    background-size: 100% 100%;
    padding-top: 15.57363194189896%
}

#fireprobe .results-wrapper .icon.web.s5 .image {
    background-image: url('../images/result.icon.web.s5.png');
}

#fireprobe .results-wrapper .icon.web.s4 .image {
    background-image: url('../images/result.icon.web.s4.png');
}

#fireprobe .results-wrapper .icon.web.s3 .image {
    background-image: url('../images/result.icon.web.s3.png');
}

#fireprobe .results-wrapper .icon.web.s2 .image {
    background-image: url('../images/result.icon.web.s2.png');
}

#fireprobe .results-wrapper .icon.web.s1 .image {
    background-image: url('../images/result.icon.web.s1.png');
}

#fireprobe .results-wrapper .icon.stream-lq.s5 .image {
    background-image: url('../images/result.icon.stream.lq.s5.png');
}

#fireprobe .results-wrapper .icon.stream-lq.s4 .image {
    background-image: url('../images/result.icon.stream.lq.s4.png');
}

#fireprobe .results-wrapper .icon.stream-lq.s3 .image {
    background-image: url('../images/result.icon.stream.lq.s3.png');
}

#fireprobe .results-wrapper .icon.stream-lq.s2 .image {
    background-image: url('../images/result.icon.stream.lq.s2.png');
}

#fireprobe .results-wrapper .icon.stream-lq.s1 .image {
    background-image: url('../images/result.icon.stream.lq.s1.png');
}

#fireprobe .results-wrapper .icon.stream-hq.s5 .image {
    background-image: url('../images/result.icon.stream.hq.s5.png');
}

#fireprobe .results-wrapper .icon.stream-hq.s4 .image {
    background-image: url('../images/result.icon.stream.hq.s4.png');
}

#fireprobe .results-wrapper .icon.stream-hq.s3 .image {
    background-image: url('../images/result.icon.stream.hq.s3.png');
}

#fireprobe .results-wrapper .icon.stream-hq.s2 .image {
    background-image: url('../images/result.icon.stream.hq.s2.png');
}
#fireprobe .results-wrapper .icon.stream-hq.s1 .image {
    background-image: url('../images/result.icon.stream.hq.s1.png');
}

#fireprobe .results-wrapper .icon.calls.s5 .image {
    background-image: url('../images/result.icon.calls.s5.png');
}

#fireprobe .results-wrapper .icon.calls.s4 .image {
    background-image: url('../images/result.icon.calls.s4.png');
}

#fireprobe .results-wrapper .icon.calls.s3 .image {
    background-image: url('../images/result.icon.calls.s3.png');
}

#fireprobe .results-wrapper .icon.calls.s2 .image {
    background-image: url('../images/result.icon.calls.s2.png');
}

#fireprobe .results-wrapper .icon.calls.s1 .image {
    background-image: url('../images/result.icon.calls.s1.png');
}

#fireprobe .results-wrapper .icon.games.s5 .image {
    background-image: url('../images/result.icon.games.s5.png');
}

#fireprobe .results-wrapper .icon.games.s4 .image {
    background-image: url('../images/result.icon.games.s4.png');
}

#fireprobe .results-wrapper .icon.games.s3 .image {
    background-image: url('../images/result.icon.games.s3.png');
}

#fireprobe .results-wrapper .icon.games.s2 .image {
    background-image: url('../images/result.icon.games.s2.png');
}

#fireprobe .results-wrapper .icon.games.s1 .image {
    background-image: url('../images/result.icon.games.s1.png');
}

#fireprobe .results-wrapper .icon.android {
    display: none;
    font-size: 1.8vw;
    color: #ffffff;
    background: #3490DC;
    padding: 3%;
    border-radius: 5px;
    margin-top: 6%;
}

#fireprobe .results-wrapper .icon.ios {
    display: none;
    font-size: 1.8vw;
    color: #ffffff;
    background: #3490DC;
    padding: 3%;
    border-radius: 5px;
    margin-top: 6%;
}

#fireprobe .results-wrapper .icon .text {
    margin-bottom: 2.141469776366311%;
    font-size: 1.6vw;
    text-align: left;
}

#fireprobe .results-wrapper .icon .bar {
    width: 15.422434367541765%;
    padding-top: 4.35560859188544125%;
    float: left;
    margin: 0 1.2848818658197867%;
}

#fireprobe .results-wrapper .icon .bar-1 {
    margin-left: 0px;
}

#fireprobe .results-wrapper .icon.s5 .bar {
    background: #4bce68;
}

#fireprobe .results-wrapper .icon.s5 .bar-wrapper > .bar-1,
#fireprobe .results-wrapper .icon.s5 .bar-wrapper > .bar-2,
#fireprobe .results-wrapper .icon.s5 .bar-wrapper > .bar-3,
#fireprobe .results-wrapper .icon.s5 .bar-wrapper > .bar-4,
#fireprobe .results-wrapper .icon.s5 .bar-wrapper > .bar5 {
    display: block;
}

#fireprobe .results-wrapper .icon.s4 .bar {
    background: #7ee093;
}

#fireprobe .results-wrapper .icon.s4 .bar-wrapper > .bar-1,
#fireprobe .results-wrapper .icon.s4 .bar-wrapper > .bar-2,
#fireprobe .results-wrapper .icon.s4 .bar-wrapper > .bar-3,
#fireprobe .results-wrapper .icon.s4 .bar-wrapper > .bar-4 {
    display: block;
}

#fireprobe .results-wrapper .icon.s4 .bar-wrapper > .bar-5 {
    display: none;
}

#fireprobe .results-wrapper .icon.s3 .bar {
    background: #ffb845;
}

#fireprobe .results-wrapper .icon.s3 .bar-wrapper > .bar-1,
#fireprobe .results-wrapper .icon.s3 .bar-wrapper > .bar-2,
#fireprobe .results-wrapper .icon.s3 .bar-wrapper > .bar-3 {
    display: block;
}

#fireprobe .results-wrapper .icon.s3 .bar-wrapper > .bar-4,
#fireprobe .results-wrapper .icon.s3 .bar-wrapper > .bar-5 {
    display: none;
}

#fireprobe .results-wrapper .icon.s2 .bar {
    background: #fe7269;
}

#fireprobe .results-wrapper .icon.s2 .bar-wrapper > .bar-1,
#fireprobe .results-wrapper .icon.s2 .bar-wrapper > .bar-2 {
    display: block;
}

#fireprobe .results-wrapper .icon.s2 .bar-wrapper > .bar-3,
#fireprobe .results-wrapper .icon.s2 .bar-wrapper > .bar-4,
#fireprobe .results-wrapper .icon.s2 .bar-wrapper > .bar-5 {
    display: none;
}

#fireprobe .results-wrapper .icon.s1 .bar {
    background: #ff1000;
}

#fireprobe .results-wrapper .icon.s1 .bar-wrapper > .bar-1 {
    display: block;
}

#fireprobe .results-wrapper .icon.s1 .bar-wrapper > .bar-2,
#fireprobe .results-wrapper .icon.s1 .bar-wrapper > .bar-3,
#fireprobe .results-wrapper .icon.s1 .bar-wrapper > .bar-4,
#fireprobe .results-wrapper .icon.s1 .bar-wrapper > .bar-5 {
    display: none;
}

#fireprobe .hidden {
    display: none;
}

#fireprobe .clear {
    clear: both;
}

/* Scrollbar */
#fireprobe .scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

#fireprobe .scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

#fireprobe .scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

#fireprobe .scroll-element {
    display: none;
}

#fireprobe .scroll-element, .scroll-element div {
    box-sizing: content-box;
}

#fireprobe .scroll-element.scroll-x.scroll-scrollx_visible,
#fireprobe .scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

#fireprobe .scroll-element .scroll-bar,
#fireprobe .scroll-element .scroll-arrow {
    cursor: default;
}

#fireprobe .scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}

#fireprobe .scroll-textarea > .scroll-content {
    overflow: hidden !important;
}

#fireprobe .scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}

#fireprobe .scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}

#fireprobe .scrollbar-inner > .scroll-element,
#fireprobe .scrollbar-inner > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

#fireprobe .scrollbar-inner > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

#fireprobe .scrollbar-inner > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 5%;
    width: 90%;
}

#fireprobe .scrollbar-inner > .scroll-element.scroll-y {
    height: 97%;
    right: 4%;
    top: 10px;
    width: 3.125%;
}

#fireprobe .scrollbar-inner > .scroll-element .scroll-element_outer {
    overflow: hidden;
}

#fireprobe .scrollbar-inner > .scroll-element .scroll-element_outer,
#fireprobe .scrollbar-inner > .scroll-element .scroll-element_track,
#fireprobe .scrollbar-inner > .scroll-element .scroll-bar {
}

#fireprobe .scrollbar-inner > .scroll-element .scroll-element_track,
#fireprobe .scrollbar-inner > .scroll-element .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8;
}

#fireprobe .scrollbar-inner .scroll-element .scroll-element_track { background-color: #e0e0e0; }
#fireprobe .scrollbar-inner .scroll-element .scroll-bar { background-color: #3490DC; }
/*
#fireprobe .scrollbar-inner .scroll-element:hover .scroll-bar { background-color: #ffd1b3; }
#fireprobe .scrollbar-inner .scroll-element.scroll-draggable .scroll-bar { background-color: #ffd1b3; }
*/

#fireprobe .scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
#fireprobe .scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }
#fireprobe .scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
#fireprobe .scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }

@media (orientation: portrait) {
    #fireprobe {
        margin-top: 5%;
        font-size: 4vw;
    }

    #fireprobe .error-wrapper {
        display: none;
        width: 76.25%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 37% auto 0% auto;
        border: 2px solid #3490DC;
        border-radius: 10px;
        padding: 4%;
        background: #ffffff;
        z-index: 15000;
        font-size: 3vw;
        color: #000000;
    }

    #fireprobe .error-wrapper .title {
        font-size: 5vw;
    }

    #fireprobe .error-wrapper p {
        text-align: left;
        padding: 1% 1% 1% 1%;
    }

    #fireprobe .error-wrapper #reload {
        display: block;
        width: 27.0625%;
        background: #3490DC;
        border-radius: 5px;
        color: #ffffff;
        text-decoration: none;
        font-size: 3vw;
        padding-top: 1.75%;
        padding-bottom: 1.75%;
        margin: 5% auto 5% auto;
    }

    #fireprobe .isp.stage2,
    #fireprobe .isp.stage3 {
        display: block;
        position: absolute;
        width: 26.041666666666668%;
        left: 63.541666666666664%;
        margin-top: 37.925926%;
        text-align: center;
        font-size: 3vw;
    }

    #fireprobe.stage2,
    #fireprobe.stage3 {
        font-size: 2.25vw;
    }

    #fireprobe .name.stage2,
    #fireprobe .name.stage3 {
        left: 0;
        margin-top: 4%;
    }

    #fireprobe .name img {
        width: 45%;
    }

    #fireprobe .name.stage2 img,
    #fireprobe .name.stage3 img {
        width: 45%;
    }

    #fireprobe #tester {
        margin-top: 20%;
    }

    #fireprobe #start-canvas {
        width: 75%;
    }

    #fireprobe .start {
        width: 75%;
        padding-top: 75%;
    }

    #fireprobe .start .text {
        padding-top: 39%;
        font-size: 12vw;
    }

    #fireprobe #server.stage2 {
        width: 75%;
        margin: 0 auto;
        margin-top: 93%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #fireprobe #server.stage3 {
        width: 75%;
        margin: 0 auto;
        margin-top: 125%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    #fireprobe #server #server-canvas {
        width: 4%;
    }

    #fireprobe #gauge-canvas.stage2 {
        width: 90%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        margin-top: 20%;
    }

    #fireprobe #gauge-canvas-2.stage2 {
        width: 90%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        margin-top: 20%;
    }

    #fireprobe .progress.stage2 {
        width: 29%;
        left: 36%;
        margin-top: 83%;
    }

    #fireprobe .progress-bar {
        width: 5px;
    }

    #fireprobe #testing-mode-canvas.stage2 {
        width: 10%;
        left: 36%;
        margin-top: 42.5%;
    }

    #fireprobe #testing-mode-canvas.download-mode {
        margin-top: 44%;
    }

    #fireprobe #testing-mode-canvas.upload-mode {
        margin-top: 44%;
    }

    #fireprobe .testing-mode.stage2 {
        left: 47%;
        margin-top: 44.5%;
    }

    #fireprobe .testing-mode .title {
        font-size: 2.25vw;
    }

    #fireprobe .testing-mode .value {
        font-size: 3.25vw;
    }

    #fireprobe .download.stage2 {
        width: 30%;
        left: 33%;
        margin-top: 104%;
    }

    #fireprobe .download.stage3 {
        width: 30%;
        left: 33%;
        margin-top: 25%;
    }

    #fireprobe #download-chart-canvas.stage2 {
        width: 22% !important;
        left: 36.5%;
        margin-top: 115%;
    }

    #fireprobe #download-chart-canvas.stage3 {
        width: 22% !important;
        left: 36.5%;
        margin-top: 36%;
    }

    #fireprobe .upload.stage2 {
        width: 30%;
        left: 65%;
        margin-top: 104%;
    }

    #fireprobe .upload.stage3 {
        width: 30%;
        left: 65%;
        margin-top: 25%;
    }

    #fireprobe #upload-chart-canvas.stage2 {
        width: 22% !important;
        left: 69%;
        margin-top: 115%;
    }

    #fireprobe #upload-chart-canvas.stage3 {
        width: 22% !important;
        left: 69%;
        margin-top: 36%;
    }

    #fireprobe .ping.stage2 {
        width: 30%;
        left: 3%;
        margin-top: 104%;
    }

    #fireprobe .ping.stage3 {
        width: 30%;
        left: 3%;
        margin-top: 25%;
    }

    #fireprobe .jitter.stage2 {
        width: 30%;
        left: 3%;
        margin-top: 116.5%;
    }

    #fireprobe .jitter.stage3 {
        width: 30%;
        left: 3%;
        margin-top: 37.5%;
    }

    #fireprobe .result .label {
        font-size: 2.5vw;
    }

    #fireprobe .result .value .value-1 {
        font-size: 4.4vw;
    }

    #fireprobe .result .value .value-2 {
        font-size: 3vw;
    }

    #fireprobe .current.stage2 {
        width: 40%;
        left: 30%;
        margin-top: 58%;
    }

    #fireprobe .current .value .value-1 {
        font-size: 10vw;
    }

    #fireprobe .current .value .value-2 {
        font-size: 4.5vw;
    }

    #fireprobe .ip {
        margin-top: 12%;
    }

    #fireprobe .isp.stage2,
    #fireprobe .isp.stage3 {
        width: 75%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        margin-top: 130%;
    }

    #fireprobe .date.stage2,
    #fireprobe .date.stage3 {
        width: 75%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        margin-top: 133%;
    }

    #fireprobe .powered.stage2,
    #fireprobe .powered.stage3 {
        width: 75%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        margin-top: 136%;
    }

    #fireprobe .results-wrapper.stage3 {
        width: 56%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        margin-top: 50%;
    }

    #fireprobe .mad img {
        width: 100%;
    }

    #fireprobe .mad.stage3 {
        width: 80%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        margin-top: 50%;
    }

    #fireprobe .results-wrapper .icon .text {
        font-size: 2.4vw;
    }

    #fireprobe #restart.stage3 {
        width: 29%;
        left: 35%;
        margin-top: 112%;
        font-size: 3.5vw;
        padding-top: 2%;
        padding-bottom: 2%;
        z-index: 10000;
    }

    #fireprobe #restart.stage3.serviceMode {
        left: 18%;
    }

    #fireprobe #share.stage3 {
        width: 29%;
        left: 53%;
        margin-top: 112%;
        font-size: 3.5vw;
        padding-top: 2%;
        padding-bottom: 2%;
        z-index: 10000;
        display: none;
    }

    #fireprobe #approve.stage3 {
        width: 29%;
        left: 53%;
        margin-top: 112%;
        font-size: 3.5vw;
        padding-top: 2%;
        padding-bottom: 2%;
        z-index: 10000;
        display: none;
    }

    #fireprobe #approve.stage3.serviceMode {
        display: block;
    }

    #fireprobe .select-server-wrapper {
        width: 65%;
        height: 80%;
        margin-top: 3%;
        padding: 2%;
    }

    #fireprobe .select-server-wrapper.stage2 {
        margin-top: 22%;
        margin-left: 4%;
    }

    #fireprobe .select-server-wrapper.stage3 {
        margin-top: 62%;
        margin-left: 4%;
    }

    #fireprobe .select-server-wrapper .title {
        font-size: 5.5vw;
    }

    #fireprobe .select-server-wrapper #server-select-close-canvas {
        width: 8%;
        left: 88%;
        padding-top: 4%;
    }

    #fireprobe .select-server {
        height: 82%;
    }

    #fireprobe .scrollbar-inner > .scroll-element.scroll-y {
        top: 0;
        margin-top: 2%;
    }

    #fireprobe .select-server .s-server .server-info .server-name {
        font-size: 3vw;
    }

    #fireprobe .select-server .s-server .server-info .server-loc {
        font-size: 2.5vw;
    }

    #fireprobe .select-server .s-server .server-canvas {
        float: left;
        width: 6.990291262135922%;
        padding: 5% 0 0 2%;
    }
	
	#fireprobe .select-server .s-server .server-latency {
		font-size: 2.5vw;
	}

    #fireprobe .select-server .s-server .server-latency {
        float: right;
        padding-top: 6%;
        font-size: 2.5vw;
    }

    #fireprobe .select-server-wrapper-dummy.stage2,
    #fireprobe .select-server-wrapper-dummy.stage3 {
        display: block;
        width: 75%;
        padding-top: 75%;
    }

    #fireprobe .results-wrapper .icon.android {
        display: none;
        font-size: 3.5vw;
        color: #ffffff;
        background: #3490DC;
        padding: 4%;
        border-radius: 5px;
        margin-top: 4%;
    }

    #fireprobe .results-wrapper .icon.ios {
        display: none;
        font-size: 3.5vw;
        color: #ffffff;
        background: #3490DC;
        padding: 4%;
        border-radius: 5px;
        margin-top: 4%;
    }

}

@media (orientation:landscape) {
    .hide-on-landscape {
        display: none !important;
    }

    .shadow-landscape {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
}

@media (orientation:portrait) {
    .hide-on-portrait {
        display: none !important;
    }

    .px-portrait-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .container-fluid-portrait {
        max-width: unset !important;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}